@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url('https://www.worldipreview.com/media/image/shutterstock_689892409_ink_drop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Cinzel', serif;
}

.c{
    color: rgb(236, 6, 94);
    font-size: xx-large;
    margin:auto;
}
form{
    display: flex;
    flex-direction: column;
}
.w{
    height: 10vh;
    width: 15vw;
    display: flex;
    padding:10vh 15vw;
    background-color: rgba(252, 255, 74, 0.377);
    position: relative;
    margin: auto;   
    border-radius: 1.5vh;
    font-family:'Cinzel', serif ;
}
.button{
    padding: 0.5vh 0.3vw;
    margin:3vh auto;
    color: darkorange;
    background-color: rgb(235, 204, 25);
    border: 0.4vh solid rgb(179, 179, 9);
    border-radius: 0.5vh;
    font-family:'Cinzel', serif ;
}
.emotion{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    background-color: rgba(118, 218, 248, 0.287);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height:25vh;
    width:90vw;
    border-radius: 2vh;
    margin: auto;
}
.u{
    display: flex;
    height: 10vh;
    width: 8vw;
    background-color: rgba(245, 234, 211, 0.575);
    margin:4vh 2vw 0 2vh;
    padding: 0.2vw;
    border-radius: 1.2vh;
    text-align: center;  /*for future */
    align-items: center;
    justify-content: center;
}
.t{
    padding: 2vh;
    width: 8vw;
    text-align: center;
    font-weight: bold;
}
.no{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: auto;
}
.img{
    height: 20vh;
    width: 10vw;
}